<!doctype html>
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		title RS Rujukan COVID-19

		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css")
		link(rel="stylesheet" href="style.styl")

	body
		#panel-map

		script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js")
		script(src="https://unpkg.com/leaflet.markercluster@1.1.0/dist/leaflet.markercluster.js")
		script(src="mock.js")
		script(src="script.js")